.containerContent{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 0 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 1280px;
}
.itemList{
    flex-basis: 100%;
    margin: 0 24px;
}
.itemList:nth-child(2){
    padding-bottom: 25px;
}
.image{
    height: auto;
    max-width: 100%;
}