.container{
    margin: 75px auto 0;
    max-width: 1440px;
    width: 100%;
    position: relative;
}
.contentInfo{
    position: absolute;
    background: rgba(255, 255, 255, .75);
    box-sizing: border-box;
    left: 75px;
    padding: 45px 30px;
    position: absolute;
    top: 90px;
    width: 430px;
}
.title{
    font-size: 3rem;    
    font-weight: 200;
    letter-spacing: -0.06em;
    line-height: 3rem;
}
.subtitle{
    color: #333;
    font-size: 1.2rem;
    padding-top: 10px;
    line-height: 1.5rem;
}
.image img{
    width: 100%;
    height: auto;
}
.button{
    align-items: center;
    border: 1px solid #999;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    padding: 10px 20px;
    width: 250px;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #333;
    text-decoration: none;
    margin-top: 10px;
}
.button::before {
    content: '\e952';
    font-size: 2.6rem;
    color: #333;
    margin-right: 10px;
    text-decoration: none;
    font-family: 'LPIcons' !important;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none;
}