.title {
    font-size: 28px;
    color: #e1e1e1;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    background-color: #000;
  }
  
  .containerContent {
    margin: 0 auto;
    width: 1280px;
    padding-top: 15px ;
    padding-bottom: 20px;
    padding-right: 32px;
    padding-left: 32px;
  }
  
  .text {
    color: #e1e1e1;
    font-size: 16px;
  }
  